<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% if title %}
    <title>{{ title }} - BMSCE Phase Shift 2020</title>
  {% else %}
    <title>BMSCE Phase Shift 2020</title>
  {% endif %}
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.jpg') }}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png') }}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/animate.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/venobox.css') }}" rel="stylesheet">
  {{ fontawesome_css() }}
  <link href="{{ url_for('static', filename='vendor/owl.carousel.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">

</head>

<body>
    <!-- ======= Header ======= -->
    <header id="header" {% block headerclass %}{% endblock %}>
    <div class="container">
      {% block homeicon %}{% endblock %}
        <nav id="nav-menu-container">
        <ul class="nav-menu">
            {% block navigation %}{% endblock %}
        </ul>
        </nav><!-- #nav-menu-container -->
      </div>
    </div>
    </header><!-- End Header -->
    {% block content %}{% endblock %}
    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="container">
            <div class="copyright" style="color: black;">
            &copy; Copyright <a href="https://bootstrapmade.com/"><strong>TheEvent</strong></a>. All Rights Reserved
            </div>
            <div class="credits" style="color: black;">

            Designed by <a href="#"><b>Shreyas P Harle & Vardhini R</b></a>
            </div>
        </div>
    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Vendor JS Files -->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/venobox.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/superfish.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hoverIntent.js') }}"></script>
    
    <!-- Template Main JS File -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
</body>

</html>